---
import "../styles/main.css";
import favicon from "../assets/images/favicon.webp";
import myhead from "../assets/images/myhead.webp";

const message = `Roll[${Math.random() * 100}]`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href={favicon} />
    <link rel="apple-touch-icon" href={favicon} />
    <meta name="description" content="Eric's homepage" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>hey</title>
  </head>
  <body>
    <h1>hey Laurens</h1>
    <img alt="Mah head" src={myhead} height="844" width="496" />
    <aside>{message}</aside>
  </body>
</html>
